<div class="container">
    <div class="banner">
        <div class="text-image">
            <h1>Manutenção e
                <br>
                <strong>Conserto</strong>
            </h1>
            <button class="saiba-mais">Saiba mais</button>
        </div>
        <div class="Imagem"><img src="/assets/Conserto.jpg" alt="Imagem-banner"></div>
    </div>





    <h2>A <span>CTI dos Motores</span> é a primeira Eletromecânica localizada em Pinheiral.</h2>
    <p>Nossa empresa presta serviço de qualidade, contando com uma equipe especializada.</p>

</div>