.container{
    background-image:url('/assets/backee.png');
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 750px;
}
/*    <div class="Imagem"><img src="/assets/Conserto.jpg" alt="Imagem-banner"></div>*/
.banner{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    width: 80%;

}
.text-image{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:  center;
}

h1{
    color: white;
    background-color: rgba(0, 0, 0, 0.349);
    font-family: 'codec';
    text-align: center;
    margin-top: 20PX;
}
h1 > strong{
    color:#fefefe;
    text-align: center;
}.saiba-mais:hover{
    top:5px;
}
.saiba-mais{
    position: relative;
    
   
    margin-bottom: 50px;
    width: 50%;
    border-radius: 20px;
    padding: 10px;
    background: linear-gradient(to right, #FF3C5F,#F4BC21);
}
.Imagem{
  
   background-color: #101728;;
    box-shadow: 0px 110px 140px #1F41BB;
}
.Imagem > img{
    
    width: 250px;
    margin-top: 0px;
    border-radius: 20px;
    
  
}
h2{
    color: white;
    font-family: 'codec';
    text-align: center;
    width: 70%;
    margin-top: 150px;
    background-color: #10172862;
}
span{
    color:#F4BC21;
}
p{
    color: white;
    text-align: center;
    width: 70%;
    margin-bottom: 150px;
    font-weight:bold;
    font-size: 1.2em;
    font-family: 'codec';
    background-color: #10172862;
}
a{
    text-decoration: none;
    font-family: 'codec';
    color:white;
}
@media screen and (max-width: 480px)
{
    .container{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        height: 700px;
        
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
    }
    h1{
        color: white;
        font-family: 'codec';
        text-align: center;
        margin-top: 40PX;
    }
    .banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text-image{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1 > strong{
        color:#fefefe;
        text-align: center;
    }
    .saiba-mais{
        position: relative;
        top:1;
        font-family: 'codec';
        margin-bottom: 50px;
        width: 60%;
        border-radius: 20px;
        padding: 10px;
        background: linear-gradient(to right, #FF3C5F,#F4BC21);
    }
    .Imagem{
      
       background-color: #101728;;
        box-shadow: 0px 110px 140px #1F41BB;
    }
    .Imagem > img{
        
        width: 200px;
        margin-top: 0px;
        border-radius: 20px;
        
      
    }
    h2{
        margin-top:50px;
        color: white;
        font-family: 'codec';
        text-align: center;
        width: 90%;
    }
    span{
        color:#F4BC21;
    }
    p{
        color: white;
        text-align: center;
        width: 90%;
        margin-bottom:20px ;
    }
    
}