<div class="container-informacao">
    <h1>Nossos serviços</h1>
    
    <div class="text-image">
    <div class=" imagem">
        <img src="/assets/Motor1.jpg" alt="motor1">
        <p>Manutenção em Ferramentas elétricas em geral.</p>
    </div>

    <div class=" imagem">
        <img src="/assets/Conserto.jpg" alt="Bomba">
        <p>Manutenção em bomba sapo,eletro-portáteis.</p>
    </div>

    <div class=" imagem">
        <img src="/assets/conserto2.jpeg" alt="Motor">
        <p id="texto">enrolamento de motores de 
            pequeno e grande porte.</p>
    </div>
</div>



</div>