<div class="container-informacao">
    <h1>Nossos serviços</h1>
    
    <div class="text-image">
    <div class=" imagem">
        <img src="/assets/Motor1.jpg" alt="motor1">
        <p>Rebobinamento de motores.</p>
    </div>

    <div class=" imagem">
        <img src="/assets/Conserto.jpg" alt="Bomba">
        <p>Manutenção em bomba sapo,eletro-portáteis.</p>
    </div>

    <div class=" imagem">
        <img src="/assets/eletrica.jpeg" alt="Motor">
        <p id="texto">Manutenção em ferramentas elétricas</p>
    </div>
</div>



</div>